[Unit]
Description=Bonefire Discord Logger
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/bonefire
ExecStart=/opt/bonefire/bonefire_env/bin/python /opt/bonefire/bonefire_logger.py
Restart=always

[Install]
WantedBy=multi-user.target
