[Unit]
Description=Bonfire Flask Web Interface
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/bonfire
ExecStart=/opt/bonfire/bonefire_env/bin/python /opt/bonfire/bonfire_flask.py
Restart=always

[Install]
WantedBy=multi-user.target
