[Unit]
Description=Bonfire Discord Logger
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/bonfire
ExecStart=/opt/bonfire/bonefire_env/bin/python /opt/bonfire/bonfire_logger.py
Restart=always

[Install]
WantedBy=multi-user.target
