<!doctype html>
<title>Bonfire</title>
<h1>Bonfire Dashboard</h1>
<ul>
  <li><a href="{{ url_for('manage_page') }}">Manage</a></li>
  <li><a href="{{ url_for('list_users') }}">Users</a></li>
  <li><a href="{{ url_for('list_channels') }}">Channels</a></li>
  <li><a href="{{ url_for('report_user_list') }}">Reports</a></li>
  <li><a href="{{ url_for('report_summary') }}">Summary</a></li>
  <li><a href="{{ url_for('hastati_heatmap') }}">Heatmap</a></li>
  <li><a href="{{ url_for('report_focus_view') }}">Focus</a></li>
  <li><a href="{{ url_for('report_pareto_view') }}">Pareto</a></li>
</ul>
